.swipe-box {
  height: 100%;

  .my-swipe {
    height: 100%;

    .van-swipe-item {
      color: #fff;
      font-size: 20px;
      line-height: 150px;
      text-align: center;
      background-color: #39a9ed;
    }
  }
}